*{
background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202104/1423/k8kbbj9pLdaGztkDvt2BMAZ5.jpg);
}
body{
  font-family: cursive;
  color: white;
}

.header{
  text-align: center;
}

.saying{
  text-align: center;
}


.hair{

}